body{
  background-color: rgb(223, 223, 223);
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  margin: 20px;
}

.badges{
  display: flex;
  justify-self: center;
}
.badge{
  display: flex;
  
  font-weight: 500;
  font-size: 0.875em;
  line-height: 20px;
  padding: 2px 12px;
  margin: 100px 10px;
}
.pill{
  border-radius: 12px;
}

.gray{
  background-color: #f3f3f3;
  color:#1F2937;
}
.red{
  background-color: #FEE2E2;
  color: #991B1B;
}
.yellow{
  background-color: #FEF3C7;
  color: #92400E;
}
.green{
  background-color: #D1FAE5;
  color: #065F46;
}
.blue{
  background-color: #DBEAFE;
  color: #1E40AF;
}
.indigo{
  background-color: #E0E7FF;
  color: #3730A3;
}
.purple{
  background-color: #EDE9FE;
  color: #5B21B6;
}
.pink{
  background-color: #FCE7F3;
  color: #9D174D;
}
.banner{
  max-width: 890px;
  padding: 16px;
  margin: 30px 0px;
  border-radius: 6px;
  background-color: #fff;
  
}

.banner > h1{
  font-weight: 500;
  font-size: 0.875em;
  line-height: 20px;
}

.banner > p{
  font-weight: 400;
  font-size: 0.875em;
  line-height: 20px;
}
.success{
  background-color: #ecfdf5;
}
.success > h1{
  color: #065F46;
}
.success > p{
  color: #047857;
}

.warning{
  background-color: #fffbeb;
}
.warning > h1{
  color: #92400e;
}
.warning > p{
  color: #b45309;
}

.error{
  background-color: #fef2f2;
}
.error > h1{
  color: #92400e;
}
.error > p{
  color: #B45309;
}

.neutral{
  background-color: #eff6ff;
}
.neutral > h1{
  color: #1e40af;
}
.neutral > p{
  color: #1c51b9;
}
.card-wrap {
  position: relative;
  width: min(560px, 92vw);   
  margin: 44px auto;
  
}

/* Card */
.card {
  position: relative;        
  background: #fff;
  border-radius: 16px;
  padding: 2.5rem 2rem 2rem; 
  text-align: center;
  overflow: visible;         
  z-index: 1;       
  max-width: 400px;  
  margin: 0 auto;
  
}

/* Icon “badge” */
.icon {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%); 
  z-index: 2;                       
  width: 64px;
  height: 64px;
  border-radius: 16px;
  box-shadow: 0 12px 20px rgba(59,130,246,.25);
  display: grid;
  place-items: center;
  
}
.download {
  background: #3b82f6;
}
.upload{
  background: #31d66b;
}
.update{
  background: #858987;
}

.icon svg {
  width: 28px;
  height: 28px;
  color: #fff;
}

.card > h1{
  font-weight: 500;
  font-size: 1.125em;
  line-height: 28px;
  color: #111827;
}
.card > p{
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  color: #6b7280;
}

.card:hover{
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}